*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


header{
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.container{
    height: 100%;
    width: 100%;
    

    
}
.container-sec1{

    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.logo_img{

    height: 40px;
}
ul{
    display: flex;
    flex-direction: row;
  
    list-style: none;
}
li{
    margin-left: 2rem;
    font-weight: 600;
}


li:hover {
    color: green;
}
.menu-icon{
    width: 32px;
    background-color: black;
   
}

@media only screen and (max-width: 1200px) {
    nav{
      display:none;
    }
  }


@media only screen and (min-width: 1200px) {
    .menu-icon{
      display:none;
    }
}  

.hash{
    color: grey;
}
.first-sec{
    background-color: rgb(255, 205, 210);
    
}

@media only screen and (max-width: 1200px) {
  
    .small-screen{
        display: flex;
        flex-direction: column;
       
        padding-left: 2rem;
        
    }
    .section-right{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .first-sec{
        background-color: rgb(255, 205, 210);
        height: auto;
        
    }
   
}

.p{
    font-size: 0.6875rem;
    text-align: center;
}
.term{
    color: black;
}
section{
    height: 28rem;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.section-left{
    margin-right: 3rem;
}
.image{
    height: 20rem; 

}
.buttons{
    display: flex;
    flex-direction: row;

}
.h1{
    margin-top: 2rem;
    font-size: 20px;
    font-weight: bolder;

}
.h2{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 15px;
    max-width: 100%;
    font-weight: lighter;
}
.buttons{
    margin-bottom: 2rem;

}
.button-link{
    text-decoration: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: black;
    border: 1px solid black;
    border-radius: 2rem;

    font-weight: bold;
    

}

.para{
    font-size: 13px;
}

.bg-black{
    background-color: black;
    color: white;
    margin-right: 1rem;

}
.second-sec{
    background-color: rgb(248, 248, 248);

}
.sec2-h1{
    font-weight: bolder;
    font-size: xx-large;
    margin-bottom: 2rem;
}
.sec2-h2{
    font-size:20px;
    font-weight: lighter;
    
    margin-bottom: 2rem;
}
.container-sec2{

    max-width: 1200px;
 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
@media only screen and (max-width: 1200px) {
  
    .container-sec2{
        width: auto;
    }
    .sec2-h2{
        font-size: 15px;
    }
    .buttons{
        display: flex;
        flex-direction: column;
    }
    
  
}

.buttons2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.buttons2-first{
    margin-right: 1rem;
}

.container-sec3{
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    
    
}
@media only screen and (max-width: 1200px) {
    .smaller-sec3{
      display:flex;
      flex-direction: column;
    }
    .smaller-sec3 li{
        padding-bottom: 2rem;
    }
    .third-sec{
        height: auto;
    }
    .image-group{
        padding-top: 3rem;
    }
  }


.h2-sec3{
    font-size:xx-large;
    font-weight: bolder;
    margin-top: 4rem;
}
.sec3-image{
    height: 10rem;
}
.image-group{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 
}

.para1{

    font-weight: bold;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 1.3em;
}
.para2{
    line-height: 1.5;
    font-size: 10px;
    font-weight: 100;
}
.sec3-para{
    text-align: center;
}
.group{

    display: flex;
    flex-direction: column;
   
    align-items: center;

}
.group-1{
    margin-left: 5rem;
    margin-right: 2rem;
}

.group-2{
    margin-left: 3rem;
    margin-right: 2rem;
}
.third-sec{
    padding-bottom: 5rem;
}
.sec4-h2{
    font-size:xx-large;
    font-weight: bolder;
    letter-spacing: -1.28px;
    line-height: 1;
    text-align: center;
    margin: 0px;
    padding: 0px;
    padding-bottom: 1rem;
}
.small-para{
    font-size: small;
}
.fourth-sec{

    background-color: rgb(248, 248, 248);
    height: auto;
}
.container-sec4{

    max-width: 1200px;
    
    display: flex;
    flex-direction: column;
    
    align-items: center; 
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;

}
.padding-table{

    margin-bottom: 3rem;
    font-weight: lighter;
}
.column-sec4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
  

    

   

}
@media only screen and (max-width: 1200px) {
    .column-sec4{
      display:grid;
      grid-template-columns: 1fr;
    }
  }
.column-sec4 ul{
    padding: 0;
}


.column-sec4 ul li:before {
        content: '\2713';
        display: inline-block;
        color: black;
        padding: 0 9px 0 0;

}
      
.column-sec4 ul li{
        list-style: none;
        font-size: 16px;
        font-weight: lighter;
        margin-top: 1rem;      
}


.first-column p{
    margin-top: 0.5rem; 

}
.sec4-table{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
  
}
hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.hr-table3{
    padding-top: 2rem;
}
.free-button{
        border-radius: 4px;
        font-size: 14px;
        padding: 4px 8px;
        display: inline-block;
        font-weight: 900;
      
        
        color: rgb(255, 255, 255);
        background-color: rgb(46, 119, 208);
        
}

.first-column{
 background-color: white;
  width: 350px;
  border: 0px solid gray;
  border-radius: 1rem;
  padding: 50px;
  margin: 9px;
 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align:start;

  
}
.column-button{

    text-decoration: none;
   
    padding-left: 3rem;
    padding-right: 3rem;
    
    color: white;
    border: 30px solid black;
    border-radius: 30rem;
    width: 100%;
}
.button-margin{
    margin-top: 5rem;
    margin-bottom: 3rem;

}
.button-margin1{
    margin-top: 3rem;
    margin-bottom: 3rem;

}
.button-margin2{
    margin-top: 8rem;
    margin-bottom: 3rem;

}
.button3{
    background-color: black;
    color: rgb(34, 3, 3);
    border: 1px solid black;
    border-radius: 1rem;
}

.fifth-sec{
    background-color: rgb(248, 248, 248);
    height: auto;

}
.container-sec5{
    max-width: 1200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
    
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

.sec5-q{
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: bolder;
    
    font-size:40px;
}
.sec5-h3{
    padding-bottom: 2rem;
    font-weight: lighter;
    font-size: 24px;
}

.sec5-table{

    display: flex;
    flex-direction: column;
    margin-top: 4rem;

}
.inner-table-sec5{

    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: white;
    border: 0px solid rgb(92, 85, 85);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 0.5rem;
}
@media only screen and (max-width: 1200px) {
    .inner-table-sec5{
      width: auto;
    }
  }
.downarrow {
    vertical-align: middle;
    transform: rotate(180deg);
    width: 24px;
    height: 24px;
}
footer{
   
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: black;
}

.container-footer{
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    

}
@media only screen and (max-width: 1200px) {
    .container-footer{
      width: auto;
    }
  }
.head-list{
    color: gray;
}
.footer-list{
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
.footer-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2rem;

}
.footer-list li{
    margin-bottom: 1rem;
    
}
.sec1-footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 89px;
    
   
  
   
}


.sec2-footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 20rem;
    padding-top: 3rem;
   
   
}
.margin{
    padding-right: 1rem;
    padding-left: 1rem;
}
.block1{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
   

    padding-top: 4rem;    
   
}
.world-image{
    height: 15px;
    
}
.block2{
   max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    padding-bottom: 4rem;
}
.block-2-content{
    color: gray
}
.img-sk{ 
    display: flex;
    flex-direction: row;;
    justify-content: flex-end;
    padding-bottom: 1rem;
    
}
.block3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    
}
